@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    font-family: Archivo Black;
    text-decoration: none;
}

a.menu{
    color: black;
    font-weight: 400;
    font-size: 17px;
    margin-right: 20px;
    transition: 0.3s;
}

a.download{
    background: linear-gradient(to right, #ff0e0e, #7d0303);
    border-radius: 10px;
    color: white;
    padding: 7px 20px;
    transition: 0.5s;
}

a.download:hover{
    color: black;
    transition: 0.5s;
}

a.menu:hover{
    color: #b60b0b;
    transition: 0.3s;
}

.businessplan{
    align-self: center;
    text-align: center;
}

.content{
    min-height: 120vh;
}

.logo{
    height: 60px;
    cursor: pointer;
}

/*
.title{
    font-size: 35px;
    font-weight: 600;
    font-family: Rubik;
    text-align: center;
}

.menu{
    display:flexbox;
    float: right;
}

*/

@media only screen and (max-width:850px){
    .click-menu{
        width: 35px;
        height: 35px;
        margin: 12px;
        display: block;
        float: right;
        cursor: pointer;
    }

    .click-menu:hover{
        animation: menuhover 1s ease-in-out;
    }

    .bar{
        width: 35px;
        height: 5px;
        border-radius: 5px;
        background: black;
        margin: 5px 0px;
    }

    #header{
        display: grid;
        position: sticky;
        top: 0%;
        grid-template-columns: 50% 50%;
        padding: 10px;
        box-shadow: 0 5px 15px rgb(162, 162, 162);
    }

    ul.main-nav{
        position: absolute;
        text-align: end;
        right: -15em;
        float: right;
        list-style-type: none;
    }

    .menu-inline{
        position: none;/*position: absolute;
        right: -15em;
        float: right;
        list-style-type: none;*/
    }
}

@media only screen and (min-width:850px){
    .click-menu{
        display: none;
    }

    #header{
        display: grid;
        position: sticky;
        top: 0%;
        grid-template-columns: 20% 80%;
        padding: 10px;
        box-shadow: 0 5px 15px rgb(162, 162, 162);
    }

    .menu-inline{
        align-self: center;
        justify-content: center;
        float: right;
    }
    
    ul.main-nav{
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        align-self: center;
        top: 50%;
    }
}

@keyframes menuhover {
    20%{scale: 70%}
    50%{scale: 140%;}
}